@{
    ViewBag.Title = "编辑器";
}

@Scripts.Render("~/bundles/zui/lib")

<ol class="breadcrumb">
    <li><a href="/">首页</a></li>
    <li class="active">编辑页</li>
</ol>

<textarea id="content" name="content" class="form-control kindeditor" style="width:100%">Hello, world!</textarea>


<script>
    KindEditor.create('textarea.kindeditor', {
        basePath: '/zui/lib/kindeditor',
        allowFileManager: true,
        bodyClass: 'article-content', // 确保编辑器内的内容也应用 ZUI 排版样式
        cssPath: '/zui/css/zui.css', // 确保编辑器内的内容也应用 ZUI 排版样式
    });
</script>