@{
    ViewBag.Title = "首页";
}
@Scripts.Render("~/bundles/zui/lib")
<style type="text/css">
    tr {
        background: rgb(255 255 255)
    }
</style>

<!-- 内容 -->
<div style="margin-top: 2px;"></div>
<!--天气-->
<div class="row weather">
    <div class="col-xs-1" style="padding-right: 0; text-align: center;">
        <a href="#" style="white-space: nowrap;">天气：</a>
    </div>
    <div class="col-xs-11">
        <marquee onMouseOut="this.start()" onMouseOver="this.stop()">
            北京 今天：小雨 17°~24°C 无持续风向&lt;3级
        </marquee>
    </div>
</div>
<!--天气结束-->
<!-- 重要内容 -->
<div class="row">
    <div class="col-xs-8">
        <div id="carousel_news" class="carousel slide carousel-news" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carousel_news" data-slide-to="0" class="active"></li>
                <li data-target="#carousel_news" data-slide-to="1"></li>
            </ol>
            <div class="carousel-inner">
                <div class="item active">
                    <img src="~/image/6e920e010dfcbecfb625baa3690d75ba.jpeg" alt="...">
                    <div class="carousel-caption"></div>
                    <a href="/Article">HTML5</a>
                </div>
                <div class="item">
                    <img src="~/image/400a6e57f796.jpeg" alt="...">
                    <div class="carousel-caption"></div>
                    <a href="#">杨洁篪会见美国民主、共和两党代表</a>
                </div>
            </div>
            <!-- 轮播（Carousel）导航 -->
            <a class="left carousel-control" href="#carousel_news" role="button" data-slide="prev">
                <span class="icon icon-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#carousel_news" role="button" data-slide="next">
                <span class="icon icon-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
    <div class="col-xs-4">
        <div class="container">
            <div class="department" style="margin-bottom: 1rem;">
                <div class="detitle">
                    <span>要讯</span>
                    <a class="more" href="List">更多 +</a>
                </div>
                <div class="container news">
                    <ul>
                        <li>
                            <a href="#">
                                中国多个大学校长寄语：做“先锋”不做“看客” 成“梦想派”更成“行动派”
                            </a>
                            <p>[09-14]</p>
                        </li>
                        <li>
                            <a href="#">国务院安委会对两起重大道路交通事故查处挂牌督办</a>
                            <p>[09-14]</p>
                        </li>
                        <li>
                            <a href="#">最高检：公益诉讼全面开展4年提起诉讼近2万件</a>
                            <p>[09-14]</p>
                        </li>
                        <li>
                            <a href="#">5年收案逾2000万件 中国发文夯实法庭之“基”</a>
                            <p>[09-14]</p>
                        </li>
                        <li>
                            <a href="#">中国代表一组国家在联合国人权理事会指出美国严重人权问题</a>
                            <p>[09-14]</p>
                        </li>
                        <li>
                            <a href="#">教育部：从严从紧做好中秋国庆假期和秋季学期疫情防控工作</a>
                            <p>[09-14]</p>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="department">
                <div class="detitle">
                    <span>热点</span>
                    <a class="more" href="List">更多 +</a>
                </div>
                <div class="container news">
                    <ul>
                        <li>
                            <a href="#">
                                中国多个大学校长寄语：做“先锋”不做“看客” 成“梦想派”更成“行动派”
                            </a>
                            <p>[09-14]</p>
                        </li>
                        <li>
                            <a href="#">国务院安委会对两起重大道路交通事故查处挂牌督办</a>
                            <p>[09-14]</p>
                        </li>
                        <li>
                            <a href="#">最高检：公益诉讼全面开展4年提起诉讼近2万件</a>
                            <p>[09-14]</p>
                        </li>
                        <li>
                            <a href="#">5年收案逾2000万件 中国发文夯实法庭之“基”</a>
                            <p>[09-14]</p>
                        </li>
                        <li>
                            <a href="#">中国代表一组国家在联合国人权理事会指出美国严重人权问题</a>
                            <p>[09-14]</p>
                        </li>
                        <li>
                            <a href="#">教育部：从严从紧做好中秋国庆假期和秋季学期疫情防控工作</a>
                            <p>[09-14]</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- 重要内容结束 -->
<!-- 基层动态 轮播 -->
<div class="row" style="padding: 0 10px;margin-top: 20px;">
    <div class="container-fluid" style="background-color: antiquewhite;padding-bottom: 0px;">
        <div class="row container-fluid">
            <h1 style="display: block;border-bottom: 2px solid rgba(201, 21, 21, 0.589);">基层动态</h1>
        </div>
        <div class="container-fluid">
            <ul id="nav_tabs" class="nav nav-secondary nav-justified">
                <li class="slide-1 active"><a>单位一</a></li>
                <li class="slide-2"><a>单位二</a></li>
                <li class="slide-3"><a>单位三</a></li>
            </ul>

            <div id="carousel_tabs" class="carousel slide carousel-tabs" data-ride="carousel" data-pause="true">
                <!-- <div class="carousel  carousel-tabs"> -->
                <!-- 轮播项目 -->
                <div class="carousel-inner">
                    <!-- 第一个单位 -->
                    <div class="item active">
                        <div class="container-fluid">
                            <div class="col-xs-6">
                                <div class="row">
                                    <div class="col-xs-6">
                                        <div class="ratio-img">
                                            <a href="Article"><img src="~/image/400a6e57f796.jpeg"></a>
                                        </div>
                                    </div>
                                    <div class="col-xs-6">
                                        <div class="ratio-img">
                                            <a href="#">
                                                <img src="~/image/6e920e010dfcbecfb625baa3690d75ba.jpeg">
                                            </a>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-xs-6">
                                        <div class="ratio-img">
                                            <a href="#"><img src="~/image/400a6e57f796.jpeg"></a>
                                        </div>
                                    </div>
                                    <div class="col-xs-6">
                                        <div class="ratio-img">
                                            <a href="#">
                                                <img src="~/image/6e920e010dfcbecfb625baa3690d75ba.jpeg">
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-xs-6">
                                <div class="ratio-img">
                                    <div class="department">
                                        <div class="detitle">
                                            <span>单位一</span>
                                            <a class="more" href="List">更多 +</a>
                                        </div>
                                        <div class="container news">
                                            <ul>
                                                <li>
                                                    <a href="Article"
                                                       style="font-size: 30px;color: red;max-width: 100%;">
                                                        HTML5
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#">国务院安委会对两起重大道路交通事故查处挂牌督办</a>
                                                    <p>[09-14]</p>
                                                </li>
                                                <li>
                                                    <a href="#">最高检：公益诉讼全面开展4年提起诉讼近2万件</a>
                                                    <p>[09-14]</p>
                                                </li>
                                                <li>
                                                    <a href="#">5年收案逾2000万件 中国发文夯实法庭之“基”</a>
                                                    <p>[09-14]</p>
                                                </li>
                                                <li>
                                                    <a href="#" style="font-size: 30px;color: red;max-width: 100%;">
                                                        中国多个大学校长寄语
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#">
                                                        中国多个大学校长寄语：做“先锋”不做“看客”
                                                        成“梦想派”更成“行动派”
                                                    </a>
                                                    <p>[09-14]</p>
                                                </li>
                                                <li>
                                                    <a href="#">国务院安委会对两起重大道路交通事故查处挂牌督办</a>
                                                    <p>[09-14]</p>
                                                </li>
                                                <li>
                                                    <a href="#">最高检：公益诉讼全面开展4年提起诉讼近2万件</a>
                                                    <p>[09-14]</p>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- 第一个单位结束 -->

                    <div class="item">
                        <div class="container-fluid">

                            <div class="col-xs-6">
                                <div class="row">
                                    <div class="col-xs-6">
                                        <div class="ratio-img">
                                            <a href="#"><img src="~/image/400a6e57f796.jpeg"></a>
                                        </div>
                                    </div>
                                    <div class="col-xs-6">
                                        <div class="ratio-img">
                                            <a href="#">
                                                <img src="~/image/6e920e010dfcbecfb625baa3690d75ba.jpeg">
                                            </a>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-xs-6">
                                        <div class="ratio-img">
                                            <a href="#"><img src="~/image/400a6e57f796.jpeg"></a>
                                        </div>
                                    </div>
                                    <div class="col-xs-6">
                                        <div class="ratio-img">
                                            <a href="#">
                                                <img src="~/image/6e920e010dfcbecfb625baa3690d75ba.jpeg">
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-xs-6">
                                <div class="ratio-img">
                                    <div class="department">
                                        <div class="detitle">
                                            <span>单位二</span>
                                            <a class="more" href="#">更多 +</a>
                                        </div>
                                        <div class="container news">
                                            <ul>
                                                <li>
                                                    <a href="#" style="font-size: 30px;color: red;max-width: 100%;">
                                                        做“先锋”不做“看客”成“梦想派”更成“行动派”
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#">国务院安委会对两起重大道路交通事故查处挂牌督办</a>
                                                    <p>[09-14]</p>
                                                </li>
                                                <li>
                                                    <a href="#">最高检：公益诉讼全面开展4年提起诉讼近2万件</a>
                                                    <p>[09-14]</p>
                                                </li>
                                                <li>
                                                    <a href="#">5年收案逾2000万件 中国发文夯实法庭之“基”</a>
                                                    <p>[09-14]</p>
                                                </li>
                                                <li>
                                                    <a href="#" style="font-size: 30px;color: red;max-width: 100%;">
                                                        中国多个大学校长寄语
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#">
                                                        中国多个大学校长寄语：做“先锋”不做“看客”
                                                        成“梦想派”更成“行动派”
                                                    </a>
                                                    <p>[09-14]</p>
                                                </li>
                                                <li>
                                                    <a href="#">国务院安委会对两起重大道路交通事故查处挂牌督办</a>
                                                    <p>[09-14]</p>
                                                </li>
                                                <li>
                                                    <a href="#">最高检：公益诉讼全面开展4年提起诉讼近2万件</a>
                                                    <p>[09-14]</p>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="item">
                        <div class="container-fluid">

                            <div class="col-xs-6">
                                <div class="row">
                                    <div class="col-xs-6">
                                        <div class="ratio-img">
                                            <a href="#"><img src="~/image/400a6e57f796.jpeg"></a>
                                        </div>
                                    </div>
                                    <div class="col-xs-6">
                                        <div class="ratio-img">
                                            <a href="#">
                                                <img src="~/image/6e920e010dfcbecfb625baa3690d75ba.jpeg">
                                            </a>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-xs-6">
                                        <div class="ratio-img">
                                            <a href="#"><img src="~/image/400a6e57f796.jpeg"></a>
                                        </div>
                                    </div>
                                    <div class="col-xs-6">
                                        <div class="ratio-img">
                                            <a href="#">
                                                <img src="~/image/6e920e010dfcbecfb625baa3690d75ba.jpeg">
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-xs-6">
                                <div class="ratio-img">
                                    <div class="department">
                                        <div class="detitle">
                                            <span>单位三</span>
                                            <a class="more" href="#">更多 +</a>
                                        </div>
                                        <div class="container news">
                                            <ul>
                                                <li>
                                                    <a href="#" style="font-size: 30px;color: red;max-width: 100%;">
                                                        做“先锋”不做“看客”成“梦想派”更成“行动派”
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#">国务院安委会对两起重大道路交通事故查处挂牌督办</a>
                                                    <p>[09-14]</p>
                                                </li>
                                                <li>
                                                    <a href="#">最高检：公益诉讼全面开展4年提起诉讼近2万件</a>
                                                    <p>[09-14]</p>
                                                </li>
                                                <li>
                                                    <a href="#">5年收案逾2000万件 中国发文夯实法庭之“基”</a>
                                                    <p>[09-14]</p>
                                                </li>
                                                <li>
                                                    <a href="#" style="font-size: 30px;color: red;max-width: 100%;">
                                                        中国多个大学校长寄语
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#">
                                                        中国多个大学校长寄语：做“先锋”不做“看客”
                                                        成“梦想派”更成“行动派”
                                                    </a>
                                                    <p>[09-14]</p>
                                                </li>
                                                <li>
                                                    <a href="#">国务院安委会对两起重大道路交通事故查处挂牌督办</a>
                                                    <p>[09-14]</p>
                                                </li>
                                                <li>
                                                    <a href="#">最高检：公益诉讼全面开展4年提起诉讼近2万件</a>
                                                    <p>[09-14]</p>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <div class="container-fluid">
            <div class="col-xs-6">
                <div class="container-fluid">
                    <div class="department ratio">
                        <div class="detitle">
                            <span>机关动态</span>
                            <a class="more" href="#">更多 +</a>
                        </div>
                        <div class="container news">
                            <ul>
                                <li>
                                    <a href="#">
                                        中国多个大学校长寄语：做“先锋”不做“看客” 成“梦想派”更成“行动派”
                                    </a>
                                    <p>[09-14]</p>
                                </li>
                                <li>
                                    <a href="#">国务院安委会对两起重大道路交通事故查处挂牌督办</a>
                                    <p>[09-14]</p>
                                </li>
                                <li>
                                    <a href="#">最高检：公益诉讼全面开展4年提起诉讼近2万件</a>
                                    <p>[09-14]</p>
                                </li>
                                <li>
                                    <a href="#">5年收案逾2000万件 中国发文夯实法庭之“基”</a>
                                    <p>[09-14]</p>
                                </li>
                                <li>
                                    <a href="#">中国代表一组国家在联合国人权理事会指出美国严重人权问题</a>
                                    <p>[09-14]</p>
                                </li>
                                <li>
                                    <a href="#">教育部：从严从紧做好中秋国庆假期和秋季学期疫情防控工作</a>
                                    <p>[09-14]</p>
                                </li>
                                <li>
                                    <a href="#">
                                        中国多个大学校长寄语：做“先锋”不做“看客” 成“梦想派”更成“行动派”
                                    </a>
                                    <p>[09-14]</p>
                                </li>
                                <li>
                                    <a href="#">国务院安委会对两起重大道路交通事故查处挂牌督办</a>
                                    <p>[09-14]</p>
                                </li>
                                <li>
                                    <a href="#">最高检：公益诉讼全面开展4年提起诉讼近2万件</a>
                                    <p>[09-14]</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-6">
                <div class="container-fluid">
                    <div class="department">
                        <div class="detitle">
                            <span>稿件统计</span>
                        </div>
                        <div class="chart-canvas ratio"><canvas id="myBarChart"></canvas></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- 基层动态 轮播 结束  -->
<!-- 各部门 -->
<div class="row" style="padding: 0 10px;">
    <div class="container-fluid" style="background-color: antiquewhite;margin-top: 2rem;">
        <div class="row" style="margin-top: 2rem; margin-bottom: 2rem; ">
            <div class="col-xs-8">
                <div class="container">
                    <h1 style="display: block;border-bottom: 2px solid rgba(201, 21, 21, 0.589);">
                        单位
                    </h1>
                </div>
                <div class="col-xs-6">
                    <div class="row">
                        <div class="container">
                            <div class="ratio-img">
                                <a href="#"><img src="~/image/400a6e57f796.jpeg"></a>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-6">
                            <div class="ratio-img">
                                <a href="#"><img src="~/image/400a6e57f796.jpeg"></a>
                            </div>
                        </div>
                        <div class="col-xs-6">
                            <div class="ratio-img">
                                <a href="#"><img src="~/image/400a6e57f796.jpeg"></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-6">
                    <div class="container">
                        <div class="department">
                            <div class="detitle">
                                <span>部门</span>
                                <a class="more" href="#">更多 +</a>
                            </div>
                            <div class="container news">
                                <ul>
                                    <li>
                                        <a href="#" style="font-size: 30px;color: red;max-width: 100%;">
                                            做“先锋”不做“看客”成“梦想派”更成“行动派”
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">国务院安委会对两起重大道路交通事故查处挂牌督办</a>
                                        <p>[09-14]</p>
                                    </li>
                                    <li>
                                        <a href="#">国务院安委会对两起重大道路交通事故查处挂牌督办</a>
                                        <p>[09-14]</p>
                                    </li>
                                    <li>
                                        <a href="#">最高检：公益诉讼全面开展4年提起诉讼近2万件</a>
                                        <p>[09-14]</p>
                                    </li>
                                    <li>
                                        <a href="#">5年收案逾2000万件 中国发文夯实法庭之“基”</a>
                                        <p>[09-14]</p>
                                    </li>
                                    <li>
                                        <a href="#">5年收案逾2000万件 中国发文夯实法庭之“基”</a>
                                        <p>[09-14]</p>
                                    </li>
                                    <li>
                                        <a href="#">
                                            中国多个大学校长寄语：做“先锋”不做“看客”
                                            成“梦想派”更成“行动派”
                                        </a>
                                        <p>[09-14]</p>
                                    </li>
                                    <li>
                                        <a href="#">国务院安委会对两起重大道路交通事故查处挂牌督办</a>
                                        <p>[09-14]</p>
                                    </li>
                                    <li>
                                        <a href="#">最高检：公益诉讼全面开展4年提起诉讼近2万件</a>
                                        <p>[09-14]</p>
                                    </li>
                                    <li>
                                        <a href="#">最高检：公益诉讼全面开展4年提起诉讼近2万件</a>
                                        <p>[09-14]</p>
                                    </li>
                                    <li>
                                        <a href="#">5年收案逾2000万件 中国发文夯实法庭之“基”</a>
                                        <p>[09-14]</p>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-4">
                <div class="container">
                    <h1 style="display: block;border-bottom: 2px solid rgba(201, 21, 21, 0.589);">
                        单位要闻
                    </h1>
                </div>
                <div class="row">
                    <div class="col-xs-6">
                        <div class="ratio-img">
                            <a href="#"><img src="~/image/400a6e57f796.jpeg"></a>
                        </div>
                    </div>
                    <div class="col-xs-6">
                        <div class="ratio-img">
                            <a href="#"><img src="~/image/400a6e57f796.jpeg"></a>
                        </div>
                    </div>
                </div>
                <div class="container news" style="margin-top: 12px;">
                    <ul>
                        <li>
                            <a href="#">国务院安委会对两起重大道路交通事故查处挂牌督办</a>
                            <p>[09-14]</p>
                        </li>
                        <li>
                            <a href="#">最高检：公益诉讼全面开展4年提起诉讼近2万件</a>
                            <p>[09-14]</p>
                        </li>
                        <li>
                            <a href="#">5年收案逾2000万件 中国发文夯实法庭之“基”</a>
                            <p>[09-14]</p>
                        </li>
                        <li>
                            <a href="#">5年收案逾2000万件 中国发文夯实法庭之“基”</a>
                            <p>[09-14]</p>
                        </li>
                        <li>
                            <a href="#">
                                中国多个大学校长寄语：做“先锋”不做“看客”
                                成“梦想派”更成“行动派”
                            </a>
                            <p>[09-14]</p>
                        </li>
                        <li>
                            <a href="#">国务院安委会对两起重大道路交通事故查处挂牌督办</a>
                            <p>[09-14]</p>
                        </li>
                        <li>
                            <a href="#">国务院安委会对两起重大道路交通事故查处挂牌督办</a>
                            <p>[09-14]</p>
                        </li>
                        <li>
                            <a href="#">5年收案逾2000万件 中国发文夯实法庭之“基”</a>
                            <p>[09-14]</p>
                        </li>
                        <li>
                            <a href="#">5年收案逾2000万件 中国发文夯实法庭之“基”</a>
                            <p>[09-14]</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- 各部门结束 -->
<!-- 各栏目 -->
<div class="row" style="padding: 0 10px;">
    <div class="container-fluid">
        <div class="row" style="margin-top: 2rem; margin-bottom: 0px; ">
            <div class="col-xs-4">
                <div class="department">
                    <div class="detitle">
                        <span>部门一</span>
                        <a class="more" href="#">更多 +</a>
                    </div>
                    <div class="container news">
                        <ul>
                            <li>
                                <a href="#">
                                    中国多个大学校长寄语：做“先锋”不做“看客” 成“梦想派”更成“行动派”
                                </a>
                                <p>[09-14]</p>
                            </li>
                            <li>
                                <a href="#">国务院安委会对两起重大道路交通事故查处挂牌督办</a>
                                <p>[09-14]</p>
                            </li>
                            <li>
                                <a href="#">最高检：公益诉讼全面开展4年提起诉讼近2万件</a>
                                <p>[09-14]</p>
                            </li>
                            <li>
                                <a href="#">5年收案逾2000万件 中国发文夯实法庭之“基”</a>
                                <p>[09-14]</p>
                            </li>
                            <li>
                                <a href="#">中国代表一组国家在联合国人权理事会指出美国严重人权问题</a>
                                <p>[09-14]</p>
                            </li>
                            <li>
                                <a href="#">教育部：从严从紧做好中秋国庆假期和秋季学期疫情防控工作</a>
                                <p>[09-14]</p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-xs-4">
                <div class="department">
                    <div class="detitle">
                        <span>部门二</span>
                        <a class="more" href="#">更多 +</a>
                    </div>
                    <div class="container news">
                        <ul>
                            <li>
                                <a href="#">
                                    中国多个大学校长寄语：做“先锋”不做“看客” 成“梦想派”更成“行动派”
                                </a>
                                <p>[09-14]</p>
                            </li>
                            <li>
                                <a href="#">国务院安委会对两起重大道路交通事故查处挂牌督办</a>
                                <p>[09-14]</p>
                            </li>
                            <li>
                                <a href="#">最高检：公益诉讼全面开展4年提起诉讼近2万件</a>
                                <p>[09-14]</p>
                            </li>
                            <li>
                                <a href="#">5年收案逾2000万件 中国发文夯实法庭之“基”</a>
                                <p>[09-14]</p>
                            </li>
                            <li>
                                <a href="#">中国代表一组国家在联合国人权理事会指出美国严重人权问题</a>
                                <p>[09-14]</p>
                            </li>
                            <li>
                                <a href="#">教育部：从严从紧做好中秋国庆假期和秋季学期疫情防控工作</a>
                                <p>[09-14]</p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-xs-4">
                <div class="department">
                    <div class="detitle">
                        <span>部门三</span>
                        <a class="more" href="#">更多 +</a>
                    </div>
                    <div class="container news">
                        <ul>
                            <li>
                                <a href="#">
                                    中国多个大学校长寄语：做“先锋”不做“看客” 成“梦想派”更成“行动派”
                                </a>
                                <p>[09-14]</p>
                            </li>
                            <li>
                                <a href="#">国务院安委会对两起重大道路交通事故查处挂牌督办</a>
                                <p>[09-14]</p>
                            </li>
                            <li>
                                <a href="#">最高检：公益诉讼全面开展4年提起诉讼近2万件</a>
                                <p>[09-14]</p>
                            </li>
                            <li>
                                <a href="#">5年收案逾2000万件 中国发文夯实法庭之“基”</a>
                                <p>[09-14]</p>
                            </li>
                            <li>
                                <a href="#">中国代表一组国家在联合国人权理事会指出美国严重人权问题</a>
                                <p>[09-14]</p>
                            </li>
                            <li>
                                <a href="#">教育部：从严从紧做好中秋国庆假期和秋季学期疫情防控工作</a>
                                <p>[09-14]</p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" style="margin-top: 2rem; margin-bottom: 0px; ">
            <div class="col-xs-4">
                <div class="department">
                    <div class="detitle">
                        <span>部门一</span>
                        <a class="more" href="#">更多 +</a>
                    </div>
                    <div class="container news">
                        <ul>
                            <li>
                                <a href="#">
                                    中国多个大学校长寄语：做“先锋”不做“看客” 成“梦想派”更成“行动派”
                                </a>
                                <p>[09-14]</p>
                            </li>
                            <li>
                                <a href="#">国务院安委会对两起重大道路交通事故查处挂牌督办</a>
                                <p>[09-14]</p>
                            </li>
                            <li>
                                <a href="#">最高检：公益诉讼全面开展4年提起诉讼近2万件</a>
                                <p>[09-14]</p>
                            </li>
                            <li>
                                <a href="#">5年收案逾2000万件 中国发文夯实法庭之“基”</a>
                                <p>[09-14]</p>
                            </li>
                            <li>
                                <a href="#">中国代表一组国家在联合国人权理事会指出美国严重人权问题</a>
                                <p>[09-14]</p>
                            </li>
                            <li>
                                <a href="#">教育部：从严从紧做好中秋国庆假期和秋季学期疫情防控工作</a>
                                <p>[09-14]</p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-xs-4">
                <div class="department">
                    <div class="detitle">
                        <span>部门二</span>
                        <a class="more" href="#">更多 +</a>
                    </div>
                    <div class="container news">
                        <ul>
                            <li>
                                <a href="#">
                                    中国多个大学校长寄语：做“先锋”不做“看客” 成“梦想派”更成“行动派”
                                </a>
                                <p>[09-14]</p>
                            </li>
                            <li>
                                <a href="#">国务院安委会对两起重大道路交通事故查处挂牌督办</a>
                                <p>[09-14]</p>
                            </li>
                            <li>
                                <a href="#">最高检：公益诉讼全面开展4年提起诉讼近2万件</a>
                                <p>[09-14]</p>
                            </li>
                            <li>
                                <a href="#">5年收案逾2000万件 中国发文夯实法庭之“基”</a>
                                <p>[09-14]</p>
                            </li>
                            <li>
                                <a href="#">中国代表一组国家在联合国人权理事会指出美国严重人权问题</a>
                                <p>[09-14]</p>
                            </li>
                            <li>
                                <a href="#">教育部：从严从紧做好中秋国庆假期和秋季学期疫情防控工作</a>
                                <p>[09-14]</p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-xs-4">
                <div class="department">
                    <div class="detitle">
                        <span>部门三</span>
                        <a class="more" href="#">更多 +</a>
                    </div>
                    <div class="container news">
                        <ul>
                            <li>
                                <a href="#">
                                    中国多个大学校长寄语：做“先锋”不做“看客” 成“梦想派”更成“行动派”
                                </a>
                                <p>[09-14]</p>
                            </li>
                            <li>
                                <a href="#">国务院安委会对两起重大道路交通事故查处挂牌督办</a>
                                <p>[09-14]</p>
                            </li>
                            <li>
                                <a href="#">最高检：公益诉讼全面开展4年提起诉讼近2万件</a>
                                <p>[09-14]</p>
                            </li>
                            <li>
                                <a href="#">5年收案逾2000万件 中国发文夯实法庭之“基”</a>
                                <p>[09-14]</p>
                            </li>
                            <li>
                                <a href="#">中国代表一组国家在联合国人权理事会指出美国严重人权问题</a>
                                <p>[09-14]</p>
                            </li>
                            <li>
                                <a href="#">教育部：从严从紧做好中秋国庆假期和秋季学期疫情防控工作</a>
                                <p>[09-14]</p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" style="margin-top: 2rem; margin-bottom: 0px; ">
            <div class="col-xs-4">
                <div class="department">
                    <div class="detitle">
                        <span>部门一</span>
                        <a class="more" href="#">更多 +</a>
                    </div>
                    <div class="container news">
                        <ul>
                            <li>
                                <a href="#">
                                    中国多个大学校长寄语：做“先锋”不做“看客” 成“梦想派”更成“行动派”
                                </a>
                                <p>[09-14]</p>
                            </li>
                            <li>
                                <a href="#">国务院安委会对两起重大道路交通事故查处挂牌督办</a>
                                <p>[09-14]</p>
                            </li>
                            <li>
                                <a href="#">最高检：公益诉讼全面开展4年提起诉讼近2万件</a>
                                <p>[09-14]</p>
                            </li>
                            <li>
                                <a href="#">5年收案逾2000万件 中国发文夯实法庭之“基”</a>
                                <p>[09-14]</p>
                            </li>
                            <li>
                                <a href="#">中国代表一组国家在联合国人权理事会指出美国严重人权问题</a>
                                <p>[09-14]</p>
                            </li>
                            <li>
                                <a href="#">教育部：从严从紧做好中秋国庆假期和秋季学期疫情防控工作</a>
                                <p>[09-14]</p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-xs-4">
                <div class="department">
                    <div class="detitle">
                        <span>部门二</span>
                        <a class="more" href="#">更多 +</a>
                    </div>
                    <div class="container news">
                        <ul>
                            <li>
                                <a href="#">
                                    中国多个大学校长寄语：做“先锋”不做“看客” 成“梦想派”更成“行动派”
                                </a>
                                <p>[09-14]</p>
                            </li>
                            <li>
                                <a href="#">国务院安委会对两起重大道路交通事故查处挂牌督办</a>
                                <p>[09-14]</p>
                            </li>
                            <li>
                                <a href="#">最高检：公益诉讼全面开展4年提起诉讼近2万件</a>
                                <p>[09-14]</p>
                            </li>
                            <li>
                                <a href="#">5年收案逾2000万件 中国发文夯实法庭之“基”</a>
                                <p>[09-14]</p>
                            </li>
                            <li>
                                <a href="#">中国代表一组国家在联合国人权理事会指出美国严重人权问题</a>
                                <p>[09-14]</p>
                            </li>
                            <li>
                                <a href="#">教育部：从严从紧做好中秋国庆假期和秋季学期疫情防控工作</a>
                                <p>[09-14]</p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- 各栏目结束 -->
<!-- 内容结束 -->

<script type="text/javascript">
    var data = {
        labels: ["一月", "二月", "三月", "四月", "五月", "六月", "七月"],
        datasets: [{
            label: "蓝队",
            color: 'blue',
            data: [65, 59, 80, 81, 56, 55, 40]
        }, {
            label: "绿队",
            color: 'green',
            data: [28, 48, 40, 19, 86, 27, 90]
        }]
    };

    var options = {
        responsive: true
    }; // 图表配置项，可以留空来使用默认的配置
    var myBarChart = $('#myBarChart').barChart(data, options);

    var id = 1;
    $(function () {
        $("#carousel_tabs").carousel('pause');
        $("#nav_tabs>li").hover(
            function () {
                $(".slide-" + String(id)).removeClass("active");
                id = Number($(this).attr("class").split("-")[1]);
                //console.log(id);
                $("#carousel_tabs").carousel(id - 1);
                $(this).addClass("active");
                $("#carousel_tabs").carousel('pause');
            },
            function () {
                $("#carousel_tabs").carousel('cycle');
            }
        );
        // 获取轮播索引
        $('#carousel_tabs').on('slide.zui.carousel', function (event) {
            var $hoder = $('#carousel_tabs').find('.item'),
                $items = $(event.relatedTarget);
            //getIndex就是轮播到当前位置的索引
            var getIndex = $hoder.index($items);
            $(".slide-" + String(id)).removeClass("active");
            id = getIndex + 1;
            $(".slide-" + String(id)).addClass("active");
        });
    });
</script>