@{
    ViewBag.Title = "Home Page";
}
<style type="text/css">
    tr {
        background: rgb(255 255 255)
    }
</style>
<div class="col-xl-8 col-sm-12" style="padding: 0 0;">
    <div class="container-fluid" style="margin-top: 1px; margin-bottom: 0px; ">
        <div class="row justify-content-around">
            <div class="col-lg-12  col-sm-12  order-first">
                <div id="carousel_news" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#carousel_news" data-slide-to="0" class="active"></li>
                        <li data-target="#carousel_news" data-slide-to="1"></li>
                    </ol>
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <a href="#">
                                <img src="~/image/6e920e010dfcbecfb625baa3690d75ba.jpeg" class="d-block w-100"
                                     alt="...">
                                <div class="carousel-caption  d-block"></div>
                                <h5>
                                    文章内容
                                </h5>
                            </a>
                        </div>
                        <div class="carousel-item">
                            <a href="#">
                                <img src="~/image/400a6e57f796.jpeg" class="d-block w-100" alt="...">
                                <div class="carousel-caption  d-block"></div>
                                <h5>杨洁篪会见美国民主、共和两党代表</h5>
                            </a>
                        </div>
                    </div>
                    <a class="carousel-control-prev" href="#carousel_news" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carousel_news" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row justify-content-around" style="margin-top: 2rem; margin-bottom: 0px; ">
                <div class="col-lg-4 col-sm-12">
                    <div class="department">
                        <div class="detitle">
                            <span>部门一</span>
                            <a class="more" href="#">更多 +</a>
                        </div>
                        <div class="container news">
                            <ul>
                                <li>
                                    <a href="#">
                                        中国多个大学校长寄语：做“先锋”不做“看客” 成“梦想派”更成“行动派”
                                    </a>
                                    <p>[09-14]</p>
                                </li>
                                <li>
                                    <a href="#">国务院安委会对两起重大道路交通事故查处挂牌督办</a>
                                    <p>[09-14]</p>
                                </li>
                                <li>
                                    <a href="#">最高检：公益诉讼全面开展4年提起诉讼近2万件</a>
                                    <p>[09-14]</p>
                                </li>
                                <li>
                                    <a href="#">5年收案逾2000万件 中国发文夯实法庭之“基”</a>
                                    <p>[09-14]</p>
                                </li>
                                <li>
                                    <a href="#">中国代表一组国家在联合国人权理事会指出美国严重人权问题</a>
                                    <p>[09-14]</p>
                                </li>
                                <li>
                                    <a href="#">教育部：从严从紧做好中秋国庆假期和秋季学期疫情防控工作</a>
                                    <p>[09-14]</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-12">
                    <div class="department">
                        <div class="detitle">
                            <span>部门二</span>
                            <a class="more" href="#">更多 +</a>
                        </div>
                        <div class="container news">
                            <ul>
                                <li>
                                    <a href="#">
                                        中国多个大学校长寄语：做“先锋”不做“看客” 成“梦想派”更成“行动派”
                                    </a>
                                    <p>[09-14]</p>
                                </li>
                                <li>
                                    <a href="#">国务院安委会对两起重大道路交通事故查处挂牌督办</a>
                                    <p>[09-14]</p>
                                </li>
                                <li>
                                    <a href="#">最高检：公益诉讼全面开展4年提起诉讼近2万件</a>
                                    <p>[09-14]</p>
                                </li>
                                <li>
                                    <a href="#">5年收案逾2000万件 中国发文夯实法庭之“基”</a>
                                    <p>[09-14]</p>
                                </li>
                                <li>
                                    <a href="#">中国代表一组国家在联合国人权理事会指出美国严重人权问题</a>
                                    <p>[09-14]</p>
                                </li>
                                <li>
                                    <a href="#">教育部：从严从紧做好中秋国庆假期和秋季学期疫情防控工作</a>
                                    <p>[09-14]</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-12">
                    <div class="department">
                        <div class="detitle">
                            <span>部门三</span>
                            <a class="more" href="#">更多 +</a>
                        </div>
                        <div class="container news">
                            <ul>
                                <li>
                                    <a href="#">
                                        中国多个大学校长寄语：做“先锋”不做“看客” 成“梦想派”更成“行动派”
                                    </a>
                                    <p>[09-14]</p>
                                </li>
                                <li>
                                    <a href="#">国务院安委会对两起重大道路交通事故查处挂牌督办</a>
                                    <p>[09-14]</p>
                                </li>
                                <li>
                                    <a href="#">最高检：公益诉讼全面开展4年提起诉讼近2万件</a>
                                    <p>[09-14]</p>
                                </li>
                                <li>
                                    <a href="#">5年收案逾2000万件 中国发文夯实法庭之“基”</a>
                                    <p>[09-14]</p>
                                </li>
                                <li>
                                    <a href="#">中国代表一组国家在联合国人权理事会指出美国严重人权问题</a>
                                    <p>[09-14]</p>
                                </li>
                                <li>
                                    <a href="#">教育部：从严从紧做好中秋国庆假期和秋季学期疫情防控工作</a>
                                    <p>[09-14]</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row justify-content-around" style="margin-top: 2rem; margin-bottom: 0px; ">
                <div class="col-lg-4 col-sm-12">
                    <div class="department">
                        <div class="detitle">
                            <span>部门一</span>
                            <a class="more" href="#">更多 +</a>
                        </div>
                        <div class="container news">
                            <ul>
                                <li>
                                    <a href="#">
                                        中国多个大学校长寄语：做“先锋”不做“看客” 成“梦想派”更成“行动派”
                                    </a>
                                    <p>[09-14]</p>
                                </li>
                                <li>
                                    <a href="#">国务院安委会对两起重大道路交通事故查处挂牌督办</a>
                                    <p>[09-14]</p>
                                </li>
                                <li>
                                    <a href="#">最高检：公益诉讼全面开展4年提起诉讼近2万件</a>
                                    <p>[09-14]</p>
                                </li>
                                <li>
                                    <a href="#">5年收案逾2000万件 中国发文夯实法庭之“基”</a>
                                    <p>[09-14]</p>
                                </li>
                                <li>
                                    <a href="#">中国代表一组国家在联合国人权理事会指出美国严重人权问题</a>
                                    <p>[09-14]</p>
                                </li>
                                <li>
                                    <a href="#">教育部：从严从紧做好中秋国庆假期和秋季学期疫情防控工作</a>
                                    <p>[09-14]</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-12">
                    <div class="department">
                        <div class="detitle">
                            <span>部门二</span>
                            <a class="more" href="#">更多 +</a>
                        </div>
                        <div class="container news">
                            <ul>
                                <li>
                                    <a href="#">
                                        中国多个大学校长寄语：做“先锋”不做“看客” 成“梦想派”更成“行动派”
                                    </a>
                                    <p>[09-14]</p>
                                </li>
                                <li>
                                    <a href="#">国务院安委会对两起重大道路交通事故查处挂牌督办</a>
                                    <p>[09-14]</p>
                                </li>
                                <li>
                                    <a href="#">最高检：公益诉讼全面开展4年提起诉讼近2万件</a>
                                    <p>[09-14]</p>
                                </li>
                                <li>
                                    <a href="#">5年收案逾2000万件 中国发文夯实法庭之“基”</a>
                                    <p>[09-14]</p>
                                </li>
                                <li>
                                    <a href="#">中国代表一组国家在联合国人权理事会指出美国严重人权问题</a>
                                    <p>[09-14]</p>
                                </li>
                                <li>
                                    <a href="#">教育部：从严从紧做好中秋国庆假期和秋季学期疫情防控工作</a>
                                    <p>[09-14]</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-12">
                    <div class="department">
                        <div class="detitle">
                            <span>部门三</span>
                            <a class="more" href="#">更多 +</a>
                        </div>
                        <div class="container news">
                            <ul>
                                <li>
                                    <a href="#">
                                        中国多个大学校长寄语：做“先锋”不做“看客” 成“梦想派”更成“行动派”
                                    </a>
                                    <p>[09-14]</p>
                                </li>
                                <li>
                                    <a href="#">国务院安委会对两起重大道路交通事故查处挂牌督办</a>
                                    <p>[09-14]</p>
                                </li>
                                <li>
                                    <a href="#">最高检：公益诉讼全面开展4年提起诉讼近2万件</a>
                                    <p>[09-14]</p>
                                </li>
                                <li>
                                    <a href="#">5年收案逾2000万件 中国发文夯实法庭之“基”</a>
                                    <p>[09-14]</p>
                                </li>
                                <li>
                                    <a href="#">中国代表一组国家在联合国人权理事会指出美国严重人权问题</a>
                                    <p>[09-14]</p>
                                </li>
                                <li>
                                    <a href="#">教育部：从严从紧做好中秋国庆假期和秋季学期疫情防控工作</a>
                                    <p>[09-14]</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" style="margin-top: 2rem; margin-bottom: 0px; ">
                <div class="col-lg-4 col-sm-12">
                    <div class="department">
                        <div class="detitle">
                            <span>部门一</span>
                            <a class="more" href="#">更多 +</a>
                        </div>
                        <div class="container news">
                            <ul>
                                <li>
                                    <a href="#">
                                        中国多个大学校长寄语：做“先锋”不做“看客” 成“梦想派”更成“行动派”
                                    </a>
                                    <p>[09-14]</p>
                                </li>
                                <li>
                                    <a href="#">国务院安委会对两起重大道路交通事故查处挂牌督办</a>
                                    <p>[09-14]</p>
                                </li>
                                <li>
                                    <a href="#">最高检：公益诉讼全面开展4年提起诉讼近2万件</a>
                                    <p>[09-14]</p>
                                </li>
                                <li>
                                    <a href="#">5年收案逾2000万件 中国发文夯实法庭之“基”</a>
                                    <p>[09-14]</p>
                                </li>
                                <li>
                                    <a href="#">中国代表一组国家在联合国人权理事会指出美国严重人权问题</a>
                                    <p>[09-14]</p>
                                </li>
                                <li>
                                    <a href="#">教育部：从严从紧做好中秋国庆假期和秋季学期疫情防控工作</a>
                                    <p>[09-14]</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-12">
                    <div class="department">
                        <div class="detitle">
                            <span>部门二</span>
                            <a class="more" href="#">更多 +</a>
                        </div>
                        <div class="container news">
                            <ul>
                                <li>
                                    <a href="#">
                                        中国多个大学校长寄语：做“先锋”不做“看客” 成“梦想派”更成“行动派”
                                    </a>
                                    <p>[09-14]</p>
                                </li>
                                <li>
                                    <a href="#">国务院安委会对两起重大道路交通事故查处挂牌督办</a>
                                    <p>[09-14]</p>
                                </li>
                                <li>
                                    <a href="#">最高检：公益诉讼全面开展4年提起诉讼近2万件</a>
                                    <p>[09-14]</p>
                                </li>
                                <li>
                                    <a href="#">5年收案逾2000万件 中国发文夯实法庭之“基”</a>
                                    <p>[09-14]</p>
                                </li>
                                <li>
                                    <a href="#">中国代表一组国家在联合国人权理事会指出美国严重人权问题</a>
                                    <p>[09-14]</p>
                                </li>
                                <li>
                                    <a href="#">教育部：从严从紧做好中秋国庆假期和秋季学期疫情防控工作</a>
                                    <p>[09-14]</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>