@{
    ViewBag.Title = "HTML5";
}

<ol class="breadcrumb">
    <li><a href="/">首页</a></li>
    <li><a href="List">文章列表</a></li>
    <li class="active">文章</li>
</ol>

<article class="article" style="background-color: aliceblue;">
    <header>
        <h1 id="title" style="text-align:center"></h1>

        <dl class="dl-inline">
            <dt>作者：</dt>
            <dd id="author"></dd>
            <dt>最后修订：</dt>
            <dd id="update_time"></dd>
            <dd style="float:right" id="class"></dd>
            <dt style="float:right">栏目：</dt>
        </dl>
        <div id="abstract" class="abstract">
        </div>
    </header>

    <section id="content" class="content">
    </section>

    <footer>
        <ul class="pager pager-justify">
            <li class="previous"><a href="#"><i class="icon-arrow-left"></i> 上一篇</a></li>
            <li><a href="#"><i class="icon-list-ul"></i> 目录</a></li>
            <li class="next disabled"><a href="#">没有下一篇 <i class="icon-arrow-right"></i></a></li>
        </ul>
    </footer>
</article>

<script>
    //转换时间格式
    function parseDateTime(update_time) {
        var list = update_time.split("T");
        var date = list[0].split("-");
        var time = list[1].split(":");
        var day = new Date(Date.parse(date[1] + "/" + date[2] + "/" + date[0]));
        var today = new Array('星期日', '星期一', '星期二', '星期三', '星期四', '星期五', '星期六');
        var week = today[day.getDay()];
        return date[0] + "年" + date[1] + "月" + date[2] + "日（" + week + "）"
            + time[0] + ":" + time[1];
    }
    $(document).ready(function () {
        var article = {
            "Title": "",
            "Author": "",
            "Update_time": "",
            "Class": "新闻",
            "Abstract": "",
            "Content": "",
        };
        $.ajax(
            {
                type: 'post',
                url: 'GetArticle',
                data: { "id": 1 },
                success: function (data) {
                    article = JSON.parse(data);
                    $("#title").html(article.Title);
                    $("#author").html(article.Author);
                    $("#update_time").html(parseDateTime(article.Update_time));
                    $("#class").html(article.Class);
                    $("#content").html(article.Content);
                    $("#author").html(article.Author);
                    $("#abstract").html(`<p style="font-weight:bold;display:inline">摘要：</p>` + article.Abstract);

                },
                error: function () {
                    alert('ERROR!');
                }
            }
        )
    })
</script>