@{
    ViewBag.Title = "编辑器";
}

@Scripts.Render("~/bundles/uditor")

<ol class="breadcrumb">
    <li><a href="/">首页</a></li>
    <li class="active">编辑页</li>
</ol>

<script id="editor" name="editor" type="text/plain">这里写你的初始化内容</script>

<button id="sub" class="btn btn-lg btn-primary" type="button" style="margin: 5px 2px;float: right;" data-moveable="true" data-toggle="modal" data-target="#popup">
    <i class="icon icon-save"></i>&nbsp提交
</button>

<!-- 对话框HTML -->
<div class="modal fade" id="popup">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">关闭</span></button>
                <h1 class="modal-title">确认文章内容</h1>
            </div>
            <div class="modal-body">
                <div class="input-control has-label-left-lg" style="margin-top:5px">
                    <input id="title" style="font-size:x-large" type="text" class="form-control" placeholder="">
                    <label for="title" style="font-size:x-large" class="input-control-label-left text-right">标题：</label>
                </div>
                <div class="input-control has-label-left-lg" style="margin-top:5px">
                    <textarea id="abstract" style="font-size:large;height:150px" type="text" class="form-control" placeholder=""></textarea>
                    <label for="abstract" style="font-size:x-large" class="input-control-label-left text-right">摘要：</label>
                </div>
            </div>
            <div class="modal-footer">
                <button id="confirm" type="button" class="btn  btn-lg btn-primary">确定</button>
                <button type="button" class="btn  btn-lg btn-default" data-dismiss="modal">取消</button>
            </div>
        </div>
    </div>
</div>

@* <script type="text/javascript">
    var ue = UE.getEditor('editor');
    </script> *@

<script type="text/javascript">
    var ue = UE.getEditor('editor',
        {
            toolbars:
                [

                    ['fullscreen', 'undo', 'redo', '|',
                        'customstyle', 'paragraph', 'fontfamily', 'fontsize', '|',
                        'bold', 'italic', 'underline', 'fontborder', 'strikethrough', 'superscript', 'subscript', 'removeformat', 'formatmatch', 'autotypeset', 'blockquote', 'pasteplain', '|', 'forecolor', 'backcolor', 'insertorderedlist', 'insertunorderedlist', 'selectall', 'cleardoc', '|',
                        'simpleupload', 'insertimage', 'insertvideo', 'attachment', 'pagebreak', 'template', 'background'],

                    ['print', 'preview', 'searchreplace', 'drafts', 'help',

                        '|', 'justifyleft', 'justifycenter', 'justifyright', 'justifyjustify', '|',
                        'imagenone', 'imageleft', 'imageright', 'imagecenter',

                        '|', 'indent', 'rowspacingtop', 'rowspacingbottom', 'lineheight', '|',

                        'link', 'unlink', 'anchor', '|',
                        'horizontal', 'date', 'time', 'spechars', 'snapscreen', 'wordimage', '|',

                        'inserttable', 'deletetable', 'insertparagraphbeforetable', 'insertrow', 'deleterow', 'insertcol', 'deletecol', 'mergecells', 'mergeright', 'mergedown', 'splittocells', 'splittorows', 'splittocols', 'charts'
                    ]
                ],
            autoHeightEnabled: true,
            initialFrameWidth: '100%',
            initialFrameHeight: 500
        });
    $(document).ready(function () {
        var data;
        $("#sub").click(function () {
            var article = {
                "Title": "无标题",
                "Author": "无作者",
                "Content": " ",
                "Class": "无类别",
                "Abstract": " ",
            };
            var html = ue.getContent();
            var txt = ue.getContentTxt();
            var plain = ue.getPlainTxt().split("\n", 2).filter(item => item != '');
            article.Title = plain[0].substring(0, 199);
            article.Content = html;
            article.Abstract = plain[1].substring(0, 499);

            var el = $('<div></div>');
            el.html(html);

            $(":header", el).each(function () {
                var title = this.innerHTML;
                if (title != "") {
                    article.Title = title;
                }
                return false;
            });

            data = JSON.stringify(article);

            $("#title").html(article.Title);
            $("#abstract").html(article.Abstract);
        })

        $("#confirm").click(function () {
            $.ajax(
                {
                    type: 'POST',
                    url: 'Submit',
                    contentType: "application/json",
                    dataType: "json",
                    data: data,
                    success: function (data) {
                        alert(JSON.parse(data).message);
                    },
                    error: function (error) {
                        console.log(error);
                        alert("提交失败");
                    }
                })
        }
        )
    });
</script>